* {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5vw;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 50px 0 20px 0;
}

h2 {
  color: #fff;
  font-size: 50px;
}

h3 {
  font-size: 4.5vw;
  line-height: 1.39;
}

p {
  font-size: 1.5vw;
}

ul {
  list-style-type: none;
}

.info-row {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 200px;
  overflow: hidden;
}

.fa {
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.fa-small {
  color: black;
  font-size: 10px;
  width: 15px;
}

.fa-facebook {
  background: #3B5998;
}

.fa-youtube {
  background: #FF3333;
}

.fa-flickr {
  background: #FE0883;
}

.fa-twitter {
  background: #33CCFF;
}

.fa-linkedin {
  background: #4875B4;
}

.fa-angle-down {
  font-size: 25px;
}

.list-group .fa {
  background-color: rgba(101, 91, 91, 0.76);
  border-radius: 0;
  margin: 0;
}

.navWide {
  display: none;
  margin: 0 auto;
}

.fa-bars {
  cursor: pointer;
  color: #FFF;
  font-size: 80px;
  margin: 30px;
}

.narrowLinks {
  display: none;
  text-decoration: none;
  float: left;
  clear: left;
  padding: 0.5em 0;
}


/* Some media queries to make the mobile view atleast somewhat tolerable */
@media screen and (min-width: 1400px) {
  .container {
    width: 1270px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    width: 1670px;
  }
}

@media (max-width: 780px) {
  .info-row {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  a {
    margin: auto 20px;
  }
}

@media (min-width: 760px) {
  .navWide {
    display: block;
  }
  .navNarrow {
    display: none;
  }
}
